ul {
border: 2px solid black;
display: flex;
flex: 1;
flex-flow: row wrap;
justify-content: space-around;
}

li {
  text-align: center;
  font-family: arial;
  list-style: none;
  border: 1px solid blue;
  flex-grow: 1;
  flex-basis: 0;
}

a {
  display:block;
}
